:root {
    --acidBlue: #1b61f9;
    --activityBlue: #5f71fe;
    --activityGreen: #28c75d;
    --activityGreenLight: #eafff1;
    --activityGrey: #c7c7c7;
    --activityOrange: #ff8e2d;
    --activityRed: #f9303f;
    --appMenuItemHoveredIconColor: #333;
    --appMenuItemIconColor: #333;
    --appMenuItemSelectedHoveredIconColor: #2469f5;
    --appMenuItemSelectedIconColor: #2469f5;
    --appMenuItemToggleButtonColor: #939fae;
    --appMenuRightBorderColor: transparent;
    --atomdataBlue: #005eb8;
    --atomdataWhite: #fff;
    --backgroundBlue: #07f;
    --backgroundGrey: #f1f1f1;
    --backgroundGreyAccent: #e2e3e4;
    --backgroundGreyStrongAccent: #939fae;
    --backgroundLightGrey: #f8f9fb;
    --base: 1000;
    --basicTextColor: #333;
    --bg1c: #fbeeb1;
    --bgAccent1c: #f5d94c;
    --bgAccentActiveCloud: #e3e9f2;
    --bgAccentAtomdata: #cbd6e1;
    --bgAccentGoznak: #3d4d69;
    --bgAccentGpn: #f0f0f0;
    --bgAccentGpnIcod: #0070ba;
    --bgAccentGreenatom: #6c6c6c;
    --bgAccentLinxdatacenter: #ff006e;
    --bgAccentLinxdatacenterHover: #009bff;
    --bgAccentMegafon: #7aca86;
    --bgAccentN1Devzone: #0070ba;
    --bgAccentRCloud: #74b8ff;
    --bgAccentSoftline: #e2e9f0;
    --bgAccentX5: #7d7d7f;
    --bgActiveCloud: #f0f3f7;
    --bgAtomdata: #dbe2e9;
    --bgCorp: #3520a3;
    --bgCorpLight: #6652d9;
    --bgGoznak: #0d2043;
    --bgGpn: #fff;
    --bgGpnIcod: #2fb4e9;
    --bgGreenatom: #515050;
    --bgLinxdatacenter: #001f73;
    --bgMegafon: #57b565;
    --bgN1Devzone: #2fb4e9;
    --bgPromoBlack: #090909;
    --bgRCloud: #3d92eb;
    --bgSoftline: #f3f7fb;
    --bgX5: #58585b;
    --black: #333;
    --blue: #2469f5;
    --blueActive: #0272d9;
    --blueBg: #e0f0ff;
    --blueBgTextColor: #bfb3ff;
    --bodyBgAccentColor: #e2e3e4;
    --bodyBgColor: #f1f1f1;
    --bodyBgTextColor: #333;
    --border: 1px solid #e9ecf3;
    --buttonBgGrey: #ecf1f8;
    --col1Width: 260px;
    --col2MaxWidth: 1450px;
    --contentAboveBase: 1100;
    --controlBorder: #e0e2e8;
    --controlBorderFocus: #5f94ff;
    --controlBorderHover: #d7d9df;
    --dark: #19191a;
    --darkGrey: #313131;
    --darkTransparentActive: rgba(36, 42, 51, 0.12);
    --darkTransparentAlternativeActive: #e5e5e7;
    --darkTransparentAlternativeHover: #f2f2f3;
    --darkTransparentHover: rgba(36, 42, 51, 0.06);
    --defaultBorder: #e9ecf3;
    --dialog: 1200;
    --divider: #e8eaed;
    --dividerDarkerGrey: #d8d8d8;
    --dividerGrey: #f1f1f1;
    --error: #fc2c38;
    --errorLight: #ffe2e1;
    --fieldWidth: 500px;
    --graphBlue: #1bacef;
    --graphBlueTransparent: rgba(200, 237, 252, 0.2);
    --graphGreen: #6ae994;
    --graphGreenTransparent: rgba(170, 242, 194, 0.2);
    --graphOrange: #ffb179;
    --graphOrangeTransparent: rgba(255, 212, 182, 0.2);
    --gray: #818c99;
    --grayActive: #646c77;
    --grayHover: #727c87;
    --green: #28c75d;
    --greenActive: #23af52;
    --greenBg: #e1f9e9;
    --greenHover: #26bb57;
    --greyActive: #646c77;
    --greyDefault: #818c99;
    --greyHover: #727c87;
    --headerHeight: 70px;
    --iconGrey: #939fae;
    --iconMark: #00eaff;
    --inputBorder: #e5e5e7;
    --landingPrimary: #07f;
    --layoutGap: 8px;
    --lightBlack: #19191a;
    --lightBlue: #4ea5f4;
    --lightFilled: #fbfbfb;
    --lightGraphBlue: #a9dff9;
    --lightGraphGreen: #aaf2c2;
    --lightGraphOrange: #ffd4b6;
    --lightGray: #f3f4f7;
    --lightGrayActive: #d9dde3;
    --lightGrayDefault: #f3f4f6;
    --lightGrayHover: #e4e7e9;
    --lightGreen: #c7f0d5;
    --lightGrey: #e1e1e1;
    --lightRed: #ffbabd;
    --lightTransparent: #242a3305;
    --lighterGrey: #e8eaed;
    --lightestGrey: #f2f1f1;
    --linkBlue: #005bd1;
    --linkBlueHover: #00357a;
    --linkBlueLinxdatacenter: #2a73d5;
    --loader: 900;
    --localAbove: 1;
    --mainInputBorder: #e5e5e7;
    --mainPartBgColor: #fff;
    --megafonPurple: #731982;
    --megafonWhite: #fff;
    --notificationRed: #ff002f;
    --orange: #ee9211;
    --orangeActive: #de8200;
    --orangeBg: #fcedd9;
    --overlay: rgba(25, 25, 26, 0.5);
    --pageContentLimitedWidth: 1200px;
    --peach: #fff5ed;
    --placeholder: #aab3bd;
    --plyr-color-main: #3520a3;
    --portal: 1200;
    --primary: #2469f5;
    --primaryTurquoise: #01eaff;
    --promoHeaderGoznak: #3d4d69;
    --promoHeaderGpn: #146baf;
    --promoHeaderLinxdatacenter: #001f73;
    --promoHeaderSoftline: #2b66ad;
    --purple: #5c4ff3;
    --purpleActive: #200fe2;
    --purpleBg: #ebeafe;
    --quotaBlue: #5f71fe;
    --quotaRed: #fc2c38;
    --quotaYellow: #fdcf50;
    --rcloudBlue: #41a1f3;
    --rcloudWhite: #fff;
    --red: #f44e4e;
    --redActive: #de2731;
    --redBg: #ffeeef;
    --redHover: #ed2935;
    --sidebarBgColor: #f1f1f1;
    --sidebarBlue: #07f;
    --sidebarContent: 1400;
    --sidebarOverlay: 1300;
    --sidebarTextColor: #333;
    --sidebarWidth: 320px;
    --siteLinks1c: #9f8f44;
    --standardCheckboxColWidth: 36px;
    --success: #28c75d;
    --successLight: #dfffea;
    --swiper-theme-color: #007aff;
    --tagsBlueShade: #37a6be;
    --tagsBlueShadeBg: #d6f2f9;
    --tagsGrayShade: #657386;
    --tagsGrayShadeBg: #e1e7ed;
    --tagsGreenShade: #2eab94;
    --tagsGreenShadeBg: #d3f5ef;
    --tagsOrangeShade: #b26b53;
    --tagsOrangeShadeBg: #fcebe6;
    --tagsPurpleShade: #3a56b4;
    --tagsPurpleShadeBg: #e3eaff;
    --tagsRedShade: #dd46c0;
    --tagsRedShadeBg: #ffeffc;
    --textAccentGrey: #999;
    --textColorGpn: #333;
    --textColorX5: #fff;
    --textCorp: #c0b4ff;
    --textGrey: #939fae;
    --totalBlack: #000;
    --turquoise: #00eaff;
    --vkB2B: #01eaff;
    --vkBlue: #07f;
    --vkBlueActive: #0069e0;
    --vkBlueHover: #006deb;
    --vkBlueInactive: #99c9ff;
    --vkBlueTransparent: rgba(0, 119, 255, 0.06);
    --warning: #ffa930;
    --warningLight: #ffeacc;
    --white: #fff;
    --yellow: #f4b913;
    --yellowActive: #e3a700;
    --yellowBg: #fff8e5;
}


/*# sourceMappingURL=907.css.map*/